<div class="bg-white p-4 sm:p-6 rounded-2xl col-span-1 lg:col-span-2 shadow-md">
  <h3 class="text-lg font-medium text-gray-800 mb-4">Control de Dispositivos</h3>
  <div class="overflow-x-auto">
    <table class="w-full text-left">
      <thead>
        <tr class="border-b border-gray-200">
          <th class="p-2 sm:p-4 text-sm font-medium text-gray-500">Dispositivo</th>
          <th class="p-2 sm:p-4 text-sm font-medium text-gray-500 text-center">Consumo</th>
          <th class="p-2 sm:p-4 text-sm font-medium text-gray-500 text-center">Estado</th>
          <th class="p-2 sm:p-4 text-sm font-medium text-gray-500 text-center">Acción</th>
        </tr>
      </thead>
      <tbody>
        @for (device of devices(); track device.deviceName) {
          <tr class="border-b border-gray-200/80 hover:bg-gray-50">
            <td class="p-2 sm:p-4">
              <div class="flex items-center space-x-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400 hidden sm:block" fill="currentColor" viewBox="0 0 24 24">
                  <path [attr.d]="getIconPath(device.icon)"></path>
                </svg>
                <span class="font-medium text-gray-900">{{ device.deviceName }}</span>
              </div>
            </td>
            <td class="p-2 sm:p-4 text-center text-gray-900">
              {{ device.currentWattage }} W
            </td>
            <td class="p-2 sm:p-4 text-center">
              <span class="px-3 py-1 text-xs font-semibold rounded-full capitalize" [class]="getStatusColor(device.status)">
                {{ device.status }}
              </span>
            </td>
            <td class="p-2 sm:p-4 text-center">
              @if (device.status !== 'standby') {
                <label class="relative inline-flex items-center cursor-pointer">
                  <input type="checkbox" [checked]="device.status === 'on'" (change)="onToggle(device.deviceName)" class="sr-only peer">
                  <div class="w-11 h-6 bg-gray-200 rounded-full peer
                              peer-checked:bg-blue-200
                              after:content-[''] after:absolute after:top-[2px] after:left-[2px]
                              after:bg-white after:border-gray-300 after:border after:rounded-full
                              after:h-5 after:w-5 after:transition-all
                              peer-checked:after:translate-x-full peer-checked:after:border-transparent peer-checked:after:bg-blue-500">
                  </div>
                </label>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>