<div class="bg-white p-4 sm:p-6 rounded-2xl h-full min-h-[300px] flex flex-col shadow-md">
  <h3 class="text-lg font-medium text-gray-800 mb-4">Desglose de Consumo Actual</h3>
  <div class="flex-grow w-full h-full">
    @if (data().length > 0) {
      <ngx-charts-pie-chart
        [results]="data()"
        [gradient]="gradient"
        [legend]="showLegend"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        [scheme]="colorScheme"
        [animations]="true"
        [labelFormatting]="labelFormatting">
      </ngx-charts-pie-chart>
    } @else {
      <div class="flex items-center justify-center h-full text-gray-500">
        <p>No hay dispositivos encendidos.</p>
      </div>
    }
  </div>
</div>
